<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/jpeg" href="../static/img/foto_perfil.jpeg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Dominggues</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/foto_perfil.jpeg" alt="Foto do Guilherme" />
        <h1>Guilherme Domingues</h1>
        <div class="social-links mt-4 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/guilherme-dominggues/"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/Dominggues">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/domingue_ss/">
            <i class="bi bi-instagram"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/@Dominggues">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column mt-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              ><i class="bi bi-house" aria-hidden="true"></i> Início</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-person" aria-hidden="true"></i> Sobre</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi-list-check" aria-hidden="true"></i> Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi-file-earmark" aria-hidden="true"></i> Currículo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi-collection" aria-hidden="true"></i> Portifólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi-envelope" aria-hidden="true"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Guilherme Domingues</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Vendedor Autônomo, Cursando Ciências da Computação</span
          >
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="">Arraste para mais</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class='pt-3'>Sobre</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repellendus molestias pariatur est enim quis, quia incidunt eius
              libero, placeat sunt blanditiis at quisquam, unde explicabo
              tempora! Temporibus est hic veniam?Lorem ipsum, dolor sit amet
              consectetur adipisicing elit. Iusto sunt molestiae nesciunt
              voluptatibus cum, facilis, doloribus nam debitis repudiandae minus
              dicta hic corrupti tempora amet ducimus at aperiam, harum ipsam.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              nulla sit ipsa suscipit odio unde excepturi dolorem ullam libero
              nisi tenetur rerum, aliquam ea culpa nostrum aut quas eligendi
              animi placeat iure, fugiat incidunt assumenda, neque mollitia!
              Ratione odit velit quisquam iste nemo voluptate est explicabo fuga
              adipisci, iure nam ab quam deleniti natus minima assumenda sunt
              sit illo libero?
            </p>
          </div>

          <div class="row mt-4">
            <div class="col-md-4">
              <img
                class="img-fluid shadow"
                src="../static/img/foto_perfil.jpeg"
                alt="Foto do Guilherme"
              />
            </div>
            <div class="col-md-8">
              <h3>Estudante de Ciências da Computação</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                nostrum dolore totam quod facere delectus veritatis.
              </p>

              <div class="row mt-3 mb-3">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-6">
                    <li class="list-group-item">
                      Nascido:
                      <span class="fw-lighter">23 de Março de 2005</span>
                    </li>
                    <li class="list-group-item">
                      Idade: <span class="fw-lighter">19 Anos</span>
                    </li>
                    <li class="list-group-item">
                      Cidade: <span class="fw-lighter">Indaiatuba</span>
                    </li>
                    <li class="list-group-item">
                      Estado: <span class="fw-lighter">São Paulo</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-6">
                    <li class="list-group-item">
                      Hobby:
                      <span class="fw-lighter"
                        >Assistir series, jogar games FPS/RPG</span
                      >
                    </li>
                    <li class="list-group-item">
                      Trabalho:
                      <span class="fw-lighter">Vendedor Autônomo</span>
                    </li>
                    <li class="list-group-item">
                      Experiência: <span class="fw-lighter">+7anos</span>
                    </li>
                    <li class="list-group-item">
                      Meta:
                      <span class="fw-lighter"
                        >Primeiro emprego na área de T.I</span
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Commodi aperiam quaerat nam! Natus praesentium eos quos alias
                adipisci minima culpa a voluptate fugit exercitationem autem
                illo temporibus deleniti est reiciendis iusto quis, error, sit
                porro inventore aspernatur dolores? Ullam, commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
